*{
	margin:0;
	padding:0;
}

body{
	overflow-x:hidden;
}

@keyframes info {
	0% {opacity:0; width:0%;left:-3%;top:87%;}
	100% {opacity:1; width:100%;left:-3%;top:87%;}
}

@keyframes screen{
	0%{right:-35%;opacity:0;}
	10%{opacity:0;}
	100%{opacity:1;right:0%;}
}

thead, tbody{
	font-size:0.8em;
	position:relative;
	background-color:white;
}

th{
	padding-top:1%;
	padding-bottom:1%;
}

.table{
	font-size:32px;
	color:black;
	width:50%;
	margin-left:25%;
	margin-top:3%;
	margin-bottom:3.5%;
}

.video{
	position:relative;
	width:45%;
	height:50%;
	margin-left:38%;
	margin-top:2%;
}

#galery_grid{
	display:grid;
	grid-template:repeat(4, 1fr)/repeat(6, 1fr);
	grid-gap:1%;
	width:70%;	
	height:80%;
	margin-left:20%;
	margin-right:10%;
	margin-top:8%;
	margin-bottom:1%;
}

.galery_img_bigPicture{
	grid-area:1/1/span 3/ span 6;
	z-index:1;
	margin-left:13%;
	margin-right:13%;
}

@keyframes galery_img_first{
	0%{height:0%;width:2%;left:48%;}
	50%{height:100%;width:2%;left:48%;}
	100%{height:100%;width:100%;left:0%;}
}

.galery_img_first{
	position:relative;
	z-index:4;
	cursor:default;
	animation-name:galery_img_first;
	animation-duration:0.75s;
	animation-fill-mode:forwards;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-image:url('../ZDJ/zdj1.jpg');
}
.galery_img_2{
	position:relative;
	z-index:4;
	cursor:default;
	animation-name:galery_img_first;
	animation-duration:0.75s;
	animation-fill-mode:forwards;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-image:url('../ZDJ/zdj2.jpg');
}
.galery_img_3{
	position:relative;
	z-index:4;
	cursor:default;
	animation-name:galery_img_first;
	animation-duration:0.75s;
	animation-fill-mode:forwards;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-image:url('../ZDJ/zdj3.jpg');
}
.galery_img_4{
	position:relative;
	z-index:4;
	cursor:default;
	animation-name:galery_img_first;
	animation-duration:0.75s;
	animation-fill-mode:forwards;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-image:url('../ZDJ/zdj4.jpg');
}
.galery_img_5{
	position:relative;
	z-index:4;
	cursor:default;
	animation-name:galery_img_first;
	animation-duration:0.75s;
	animation-fill-mode:forwards;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-image:url('../ZDJ/zdj5.jpg');
}
.galery_img_6{
	position:relative;
	z-index:4;
	cursor:default;
	animation-name:galery_img_first;
	animation-duration:0.75s;
	animation-fill-mode:forwards;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-image:url('../ZDJ/zdj6.jpg');
}

.galery_img{
	width:100%;
	height:auto;
	z-index:1;
	cursor:pointer;
}

.cd{
	position:relative;
	width:10%;
	margin-top:1%;
}

.logo_words{
	font-size:0.7em;
	position:relative;
	top:-10px;
}

.bg_up{
	background-image:url('../ZDJ/poebg.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position:relative;
	width:100%;
	height:100%;
	z-index:0;
}
.bg_down{
	background-image:url('../ZDJ/poebg2.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position:absolute;
	width:100%;
	height:100%;
	z-index:0;
}
.bg_down2{
	background-image:url('../ZDJ/bg_down2.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position:absolute;
	top:200%;
	width:100%;
	height:100%;
	z-index:0;
}
.bg_down3{
	background-image:url('../ZDJ/bg_down3.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position:absolute;
	top:300%;
	width:100%;
	height:100%;
	z-index:0;
}

.note{
	position:absolute;
	right:5%;
	top:20%;
	z-index:2;
	width:1%:
}

.iframe{
	position:absolute;
	right:-514px;
	top:230px;
	height:338px;
	width:514px;
	z-index:3;
}

.iframe_down{
	position:absolute;
	right:-514px;
	top:230px;
	width:514px;
	height:338px;
	z-index:2;
}

.img{
	background-color:black;
	width:100%;
	height:100%;
	border:8px double white;
	border-radius:50px 0px 0px 50px;
	border-left:0px;
	border-right:0px;
	box-shadow: 80px 57px 98px -68px grey;
	z-index:3;
}

.SS{
	transform:rotate(270deg);
	position:absolute;
	right:-130px;
	top:350px;
	cursor:pointer;
	height:114px;
	z-index:4;
	width:362px;
	border:0px solid black;
	border-radius:50px 50px 0px 0px;
}

@keyframes ss {
	0%{transform:rotate(270deg);top:350px;right:-130px;}
	70%{transform:rotate(360deg);}
	100%{transform:rotate(360deg);top:120px;right:0px;}
}

.screen:hover .SS{
	animation-name: ss;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
	animation-delay:0.25s;
}

.screen:hover .iframe{
	z-index:6;
	animation-name: screen;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.screen:hover .iframe_down{
	z-index:5;
	animation-name: screen;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.avatar{
	position:absolute;
	top:115%;
	width:18%;
	z-index:3;
}

.zakladka_galery{
	position:fixed;
	transform:rotate(90deg);
	top:240px;
	z-index:5;
	left:50px;
	text-align:center;
	cursor:pointer;
}
.zakladka_table{
	position:fixed;
	top:320px;
	z-index:5;
	left:-15px;
	text-align:center;
	cursor:pointer;
}
.zakladka_video{
	position:fixed;
	top:400px;
	z-index:5;
	left:-15px;
	text-align:center;
	cursor:pointer;
}

.text_galery{
	width:70px;
	position:fixed;
}