@keyframes cover {
    0% {width:100%; height:100%; top:0%;}
    100% {width:110%; height:120%; top:-10%;}
}

@keyframes info {
	0% {opacity:0; width:0%;left:-3%;top:87%;}
	100% {opacity:1; width:100%;left:-3%;top:87%;}
}

#PoE{z-index:0;}
#CIV{z-index:1;}
#w3{z-index:1;}
#d3{z-index:1;}
#ftlc{z-index:1;}
#fo{z-index:1;}
#w{z-index:1;}

*{
	margin:0px;
	padding:0px;
}

body{
	overflow:hidden;
	
}

.grid{
	display:grid;
	grid-template:100% / repeat(7, 1fr);
	width:100%;
	height:100%;
}


.game{
	width:100%;
	height:100%;
	position:relative;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

@keyframes game_link {
	to{width:100%}
	from{width:100%;}
}

#game_link{
	position:relative;
}

.game:hover{
	position:relative;
	animation-name: cover;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
	z-index:1;
	box-shadow:inset 0px 0px 60px 10px grey;
	cursor:pointer;
}

.game_logo{
	position:relative;
	width:100%;
	top:70%;
	opacity:0;
}

.info{
	position:absolute;
	opacity:0;
	color:white;
	text-align:center;
	border-width:2px;
	border-style:solid;
	border-color:white;
	border-radius:0px 100px 100px 0px;
	background-color:black;
	margin-left:3%;
}

.game:hover .game_logo{
	animation-name: game_logo;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.game:hover .info{
		display:block;
	animation-name: info;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.cd{
	position:relative;
	width:15%;
	margin-top:1%;
}

.logo_words{
	position:inline;
	top:-15%;
}

.iframe{
	border-width:0px;
	display:none;
	width:60%;
	height:100%;
}

@keyframes iframe {
	from {width:100px;}
	to {width:1000px;}
}

.game:active .iframe {
	display:block;
	animation-name:iframe;
	animation-duration:0.5s;
	animation-fill-mode: forwards;
}

.game:active .game_logo{
	display:none;
}

.game:active .info{
	opacity:0 !important;
}

.text{
	display:none;
	font-size:0em;
	color:white;
	text-shadow:10px 5px 8px grey;
}

@keyframes text{
	from{font-size:0em;}
	to {font-size:2em;}
}

.game:active .text{
	display:inline;
	text-align:top;
	animation-name:text;
	animation-duration:0.5s;
	animation-fill-mode: forwards;
	animation-delay:0.5s;
	position:relative;
	top:-60%;
}